<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- <context:annotation-config/> <context:component-scan base-package="com.baeldung.applicationcontext"/> -->

	<bean id="myIOTDeviceBean" class="com.springIoC.IOTDevice" />
	<alias name="myIOTDeviceBean" alias="myBean" />
	
	<bean id="myIOTDeviceBeanOne" class="com.springIoC.IOTDevice" />
	
	<bean id="myIOTDeviceBeanLifeCycle" class="com.springIoC.IOTDeviceBeanLifeCycleMethods" 
		init-method="initBean" destroy-method="destroyBean"/>
	
	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
	
	<bean id="FridgeBean" class="com.springIoC.IOTDeviceBeanLifeCycleMethodsAnnot" >
		<property name="device" value="Fridge"/>
		<property name="desc" value="Fridge Desc"/>
	</bean>
	<bean id="DWBean" class="com.springIoC.IOTDeviceBeanLifeCycleMethodsAnnot" >
		<property name="device" value="DW"/>
		<property name="desc" value="DW Desc"/>
	</bean>
	
	<bean id="OvenBean" class="com.springIoC.IOTDeviceBeanLifeCycleMethodsAnnot" >
		<constructor-arg value="Oven"/>
		<constructor-arg value="Oven Desc"/>
		
	</bean>
	
	<bean id="TableBean" class="com.springIoC.IOTDeviceBeanLifeCycleMethodsAnnot" >
		<constructor-arg index="1" type="java.lang.String" value="Table Desc"/>
		<constructor-arg name="device" value="Table"/>
		
	</bean>
</beans>